
/* nav styles */

.nav-link-custom{
  
  color: white !important;
  margin-right: 15px;
}

 .navbar-custom
{
  height: 75px;
  background-color: #002F34;
  color: white;
}

.navbar .home-nav-btn{
  margin-left: 130px;
}

/* ad btn */

#btn-ad{
  width: 150px;
  color: white;
}

#btn-ad:hover{
  background-color: white;
  color: #002F34;
}

/* icon's styles */

.faUser{
  margin-right: 5px;
}
